!.gitignore
!.scalafmt.conf
**/*.DS_Store
**/project/project/
**/target/
**/logs/
**/log/
**/tmp/
**/dist/
**/out/
*.eml
*.iml
.*
.bloop/
.cache
.DS_Store
.history
.idea/
.idea_modules/
.metals/
.vscode/
/.classpath
/.idea_modules
/.project
/.settings
/RUNNING_PID
bin
db
eclipse
lib
lib_managed
modules
precompiled
project/metals.sbt
server.pid
test-result
